.main {
    box-sizing: border-box;
    height: 100vh;
    background: rgb(167, 2, 2);
    background: linear-gradient(180deg, rgba(167, 2, 2, 1) 34%, rgba(255, 255, 255, 1) 34%);
    background: linear-gradient(180deg, rgb(168, 5, 5) 45%, rgba(242, 242, 242, 1) 45%, rgba(255, 255, 255, 1) 45%);
    position: relative;
}

.side-bar {
    height: 100vh;

}

.nav-link {
    font-family: sans-serif;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    text-align: center;
}

.mensagem-erro {
    background-color: #ff0000;
    /* Cor de fundo vermelha para indicar erro */
    color: rgb(255, 255, 255);
    /* Cor do texto */
    padding: 5px;
    /* Espaçamento interno para melhor aparência */
    text-align: center;
    /* Centralize o texto */
    display: none;
    /* Inicialmente, oculte a mensagem de erro */
}

.mensagem-suc {
    background-color: #008a50;
    /* Cor de fundo vermelha para indicar erro */
    color: rgb(255, 255, 255);
    /* Cor do texto */
    padding: 5px;
    /* Espaçamento interno para melhor aparência */
    text-align: center;
    /* Centralize o texto */
    display: none;
    /* Inicialmente, oculte a mensagem de erro */
}


.table-info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 5%;
    height: 85vh;
    width: 70vw;
    background-color: #ffffff;
    -webkit-box-shadow: -62px 168px 172px -49px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -62px 168px 172px -49px rgba(0, 0, 0, 0.5);
    box-shadow: -62px 168px 172px -49px rgba(0, 0, 0, 0.5);
}

.table>tbody {
    vertical-align: middle;
}

.tabela-principal {
    width: 100%;
    display: block;
    height: auto;
    overflow-y: auto;
}

.table-footer {
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: auto;
    flex-direction: row-reverse;

}

.totalfooter {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #008a50;

}

.totalfooter h1 {
    font-size: 20px;
    margin-top: 8px;

}

.pagination {
    align-items: center;
    margin-top: 15px;
}

.paginacao {
    display: flex;
    width: 73%;
    background-color: #212529;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.pagination a {
    color: black;
    font-weight: bold;
    margin: 5px;
    border: none;
}

.active>.page-link,
.page-link.active {
    color: rgb(255, 255, 255);
    background-color: rgb(167, 2, 2);
    border-radius: 50px;
    border: 4px solid rgb(189, 57, 57);
}

.btn-descricao {
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    background-color: #212529;
}

.btn-descricao:hover {
    background: rgb(167, 2, 2);
}

.nav-pills .nav-link:hover {
    background: rgb(167, 2, 2);
}

.textoobservacao {
    border: 1px solid black;
    margin: 5px;
    display: flex;
    padding: 10px;
    border-radius: 3px;
    background-color: #dbdbdf;
}

.modaldescription {
    color: black;
    text-align: center;
}

.bodydescription {
    border-radius: 5px;
    border: 1px solid;
    margin: 10px;
}

.user-logado {
    text-transform: capitalize;
    font-weight: 900;
}

.svg-logo {
    margin-right: 3px;
}

.form-tipo-veiculo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-tipo-veiculo .form-select {
    font-weight: bold;
    margin-left: 5px;
    width: 40%;
}

.d-dowm-chaves {
    background-color: #212529;
}

.r-chaves {
    margin: 5px;
    text-decoration: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #363d44;
    ;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link:hover {
    background-color: rgb(167, 2, 2);
}

.svg-bottomchaves {
    float: right;
    margin-left: 10px;

}

.custom-width-motorista {
    width: 50%;
}

.btn-registra-devolucao button {
    margin-top: 5px;
}

.btn-devolucao-realizada {
    color: green;
}

.info-footer-tabela svg {
    color: red;
}

.box-pesquisa {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #dbdbdf;
    border-radius: 10px 10px 0 0;
}

thead {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: #dbdbdf;
    margin-top: -1px;
}

.box-search {
    width: 50%;
    gap: 0.3%;
    outline: none;
}

.input-search:focus {
    outline: none;
}

.btn-alterastatus {
    margin-left: 10px;
    background-color: #212529;
    border-color: #212529;
}

.btn-alterastatus:hover {
    background-color: rgb(167, 2, 2);
    border-color: rgb(167, 2, 2);
}

.menu-left {
    overflow: auto;
}

.btn-salva-senha {
    margin-top: 10px;
}

.editar-senha-button {
    background-color: #212529;
    border-color: #212529;
}

.editar-senha-button:hover {
    background-color: rgb(167, 2, 2);
    border-color: rgb(167, 2, 2);
}